#contacts h3 {
    color: #fff;
    font-size: 30px;
}

.contact-cover {
    height: 900px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
}

.contact-cover a {
    color: #77D970 !important;
}

.contact-cover a:hover {
    color: white !important;
}

.contact-cover .overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(35, 35, 35, 0.6);
}


@media screen and (max-width: 768px) {
    .contact-cover {
        height: 600px;
    }
}

.contact-cover .display-t,
.contact-cover .display-tc {
    height: 900px;
    display: table;
    width: 100%;
}

@media screen and (max-width: 768px) {

    .contact-cover .display-t,
    .contact-cover .display-tc {
        height: 600px;
    }
}

.contact-cover.contact-cover-sm {
    height: 600px;
}

@media screen and (max-width: 768px) {
    .contact-cover.contact-cover-sm {
        height: 400px;
    }
}

.contact-cover.contact-cover-sm .display-t,
.contact-cover.contact-cover-sm .display-tc {
    height: 600px;
    display: table;
    width: 100%;
}

@media screen and (max-width: 768px) {

    .contact-cover.contact-cover-sm .display-t,
    .contact-cover.contact-cover-sm .display-tc {
        height: 400px;
    }
}

.contact-cover.contact-cover-xs {
    height: 500px;
}

@media screen and (max-width: 768px) {
    .contact-cover.contact-cover-xs {
        height: inherit !important;
        padding: 3em 0;
    }
}

.contact-cover.contact-cover-xs .display-t,
.contact-cover.contact-cover-xs .display-tc {
    height: 500px;
    display: table;
    width: 100%;
}

@media screen and (max-width: 768px) {

    .contact-cover.contact-cover-xs .display-t,
    .contact-cover.contact-cover-xs .display-tc {
        padding: 3em 0;
        height: inherit !important;
    }
}


.contact-cover.contact-cover-xxs {
    padding: 3em 0;
}

.contact-cover .display-tc {
    vertical-align: middle;
    display: table-cell !important;
}