#footer{
  padding: 3em 0;
  clear: both;
  position: relative;
}
#footer .copyright .block {
    display: block;
}


.social-icons {
    margin: 0;
    padding: 0;
  }
  
  .social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  
  .social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #77D970 !important;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .social-icons li a i {
    font-size: 20px;
  }